.thumb {
  width: 300px;
  padding: 1em;
}

.supplierThumb {
  display: inline-block;
  margin: 50px !important;
  max-width: 300px;
}

.suppliers {
  text-align: center;
  margin-left: 50%;
  width: 60%;
  transform: translateX(-50%);
}

.caption {
}
