/*NEWS STYLE START*/

/*Rows*/

.row {
  width: 100%;
  height: 100%;
}

/*The columns*/

.leftcolumn {
  float: left;
  width: 50%;
}

.rightcolumn {
  float: right;
  width: 50%;
}

/*Newscards*/

.card {
  border: 2px dotted black;
  margin: 15px;
  padding: 10px;
  background-color: #aac677;
  height: 10%;
  width: 90%;
}

.card:hover {
  border: 2px solid black;
}

/*Image container and image*/

.fakeimg {
  height: 50%;
  width: 100%;
}

.newsImage {
  max-height: 100%;
  max-width: 100%;
  -webkit-box-shadow:  0px 6px 10px rgba(0,0,0, 0.2);
  -moz-box-shadow:  0px 6px 10px rgba(0,0,0, 0.2);
  box-shadow: 0px 6px 10px rgba(0,0,0, 0.2);
}

/*Makes the undertitle, text and links prettier*/

.undertitle {
  text-decoration: underline;
}

.newsText {
  padding: 5px;
}

.articlelink:link, .articlelink:visited, .articlelink:hover, .articlelink:active {
  color: black;
  text-decoration: none;
}


@media screen and (max-width: 750px) {
    .leftcolumn {
      float: none;
      margin: auto;
      width: 100%;
    }
    .rightcolumn {
      float: none;
      margin: auto;
      width: 100%;
    }
}

/*NEWS STYLE ENDS*/
