/*Lager de to nyhetsradene*/

.leftcolumn {
  float: left;
  width: 50%;
}

.rightcolumn {
  float: right;
  width: 50%;
}

/*Nyhetskortene*/

.card {
  border: 2px dotted black;
  margin: 15px;
  padding: 10px;
  background-color: #aac677;
  height: 400px;
}

.card:hover {
  border: 2px solid black;
}

/*Bilde container og bilder*/

.fakeimg {
  height: 200px;
}

.newsImage {
  height: 200px;
  width: 325px;
  -webkit-box-shadow:  0px 6px 10px rgba(0,0,0, 0.2);
  -moz-box-shadow:  0px 6px 10px rgba(0,0,0, 0.2);
  box-shadow: 0px 6px 10px rgba(0,0,0, 0.2);
}

/*Gjør underoverskrift, tekst og linker finere*/

.undertitle {
  text-decoration: underline;
}

.newsText {
  padding: 5px;
}

.articlelink:link, .articlelink:visited, .articlelink:hover, .articlelink:active {
  color: black;
  text-decoration: none;
}

/*Styling the date*/

#date {
  float: right;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin: 0px;
  padding: 10px;
}
