.thumb {
  width: 200px;
}

.productThumb {
  display: inline-block;
  margin: 20px !important;
  max-width: 60%;
}

.products {
  text-align: center;
  margin-left: 50%;
  width: 60%;
  transform: translateX(-50%);
}
