.thumb {
  width: 150px;
}

.productThumb {
  display: inline-block;
  margin: 10px !important;
  max-width: 60%;
}

.products {
  text-align: center;
  margin-left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
