body {
  background-color: #fffdf5;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
}

/* UPPER SECTION
-------------------------------------------------*/
/*HEADER*/
.header {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 5.5em;
  -webkit-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.header img {
  float: left;
  width: 300px;
}

/*NAVBAR*/
.navbar {
  height: 100%;
  bottom: 0;
  overflow: hidden;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li:nth-child(n + 3) {
  float: right;
  height: 5.5em; /*Same as navbar*/
  width: 7em;
}

.navbar a {
  float: left;
  display: block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 5.5em;
}

.navbar li a:hover {
  background-color: #87aa47;
  color: white;
}

.navbar .active {
  background-color: #87aa47;
  color: white !important;
}

.navbar .hamburgericon {
  /* Hamburger menu*/
  display: none;
}

.navbar a.navbarlogo {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar a {
    display: none;
  }
  .navbar a.hamburgericon {
    float: right;
    display: block;
    width: 5em;
  }
  .navbar a.navbarlogo {
    text-align: center;
    display: block;
    width: auto;
    margin: auto;
  }
  .navbar a.navbarlogo:hover {
    background-color: inherit;
  }
  .navbar a.navbarlogo img {
    display: block;
  }
}

@media screen and (max-width: 1050px) {
  .header.responsive {
    top: 0;
    overflow: hidden;
    height: auto;
    position: relative;
    width: auto;
  }
  .logo {
    display: none;
  }

  .navbar.responsive a.navbarlogo {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .navbar.responsive a.hamburgericon {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    height: 5.2em;
    background-color: #87aa47;
    color: white !important;
  }
  .navbar.responsive li:nth-child(n + 3) {
    width: 50%;
  }
  .navbar.responsive a {
    display: block;
  }
}
/* NAVBAR END*/

/*MIDDLE SECTION
------------------------------------------------------*/

.container {
  margin-top: 3%;
  margin-left: 20%; /*20% from the left*/

  width: 60%; /*Resulting in 20% on the right as well*/
  text-align: center;
  float: center;
}

section p {
  text-align: center;
  word-wrap: break-word;
}

/* SLIDESHOW */
* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  overflow: hidden;
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  z-index: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(135, 170, 71, 1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(187, 187, 187, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.current,
.dot:hover {
  background-color: #87aa47;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.mySlides img {
  height: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
.slideshow_pic {
  width: 100%;
  object-fit: cover;
}

/*Parallax effect*/
.parallax-products {
  /* The image used */
  background-image: url('../img/products/sofapute4.jpg');
  width: 100%;
  /* Full height */
  height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 5em;
  text-align: center;
  line-height: 200px;
  margin-top: 50px;
}

.parallax-supplier {
  /* The image used */
  background-image: url('../img/products/seng.jpg');
  width: 100%;
  /* Full height */
  height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 5em;
  text-align: center;
  line-height: 200px;
  margin-top: 50px;
}

.parallax-layer {
  background-color: rgba(50, 50, 50, 0.5);
  height: 100%;
}

.parallax-text {
  margin-left: 20%; /*20% from the left*/
  width: 60%; /*Resulting in 20% on the right as well*/
  text-align: center;
  float: center;
}

/*BOTTOM SECTION
-------------------------------------------------------*/
footer {
  background-color: #87aa47;
  overflow: hidden;
  color: #e8e8ee;
  width: 100%;
  bottom: 0;
  left: 0;
  box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
  height: 14em;
}

hr {
  margin-top: 15px;
  border-top: 1px solid white;
}

.footer-company-name {
  color: white;
  font-size: 16px;
}

.footer-left {
  float: left;
  margin-top: 1%;
  margin-left: 20%;
  overflow: hidden;
}

.footer-contact {
  font-weight: bold;
  margin: 15px 42px 10px 0;
}

.footer-number-email {
  font-weight: bold;
  margin: 0px 96px 10px 0;
  display: inline-block;
}
.footer-number-email-under {
  margin: 0px 70px 10px 0;
  display: inline-block;
  font-weight: normal;
}

.footer-right {
  margin-top: 2%;
  margin-right: 22%;
  float: right;
}

.footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

footer form {
  display: inline-block;
}

footer form input,
footer form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: black;

  width: 300px;
  padding: 18px;
}

footer form input {
  height: 55px;
  margin-bottom: 12px;
}

footer form button {
  border-radius: 3px;
  background-color: white;
  color: black;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  cursor: pointer;
}

footer form button:hover {
  background-color: #d1d2d2;
}

@media (max-width: 1600px) {
  footer {
    font: bold 14px sans-serif;
  }

  .footer-company-name {
    font-size: 12px;
  }

  footer form input,
  footer form textarea {
    width: 250px;
  }

  footer form button {
    padding: 10px 35px;
  }
}
@media (max-width: 1450px) {
  footer {
    font: bold 12px sans-serif;
  }

  .footer-company-name {
    font-size: 10px;
  }

  footer form input,
  footer form textarea {
    width: 200px;
  }

  footer form button {
    padding: 5px 25px;
  }
}
@media (max-width: 1250px) {
  footer {
    padding: 30px;
    height: 50%;
    text-align: center;
  }

  footer .footer-left,
  footer .footer-right {
    float: none;
    max-width: 500px;
    margin: 0 auto;
  }

  footer .footer-left {
    margin-bottom: 20px;
  }

  footer form {
    margin-top: 30px;
  }

  footer form {
    display: block;
  }

  footer form button {
    margin-top: 15px;
    float: none;
  }

  footer form input {
    margin: 0 auto;
  }

  hr {
    margin-top: 30px;
    width: 350px;
  }

  .footer-number-email {
    margin: 0px 80px 0px 50px;
  }
  .footer-number-email-under {
    margin: 0px 50px 0px 50px;
  }

  .footer-contact {
    margin: 40px 0px 0px 0;
  }
}

/* Produkter */
.produktText {
  text-align: center !important;
}

.thumb {
  width: 200px;
}

.productThumb {
  display: inline-block;
  margin: 20px !important;
  max-width: 60%;
}

.products {
  text-align: center;
  margin-left: 50%;
  width: 60%;
  transform: translateX(-50%);
}

.productLink:link {
  text-decoration: none;
  color: black;
}

.productLink:visited {
  text-decoration: none;
  color: black;
}

/* Produktside */
.container {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
  box-sizing: border-box;
}

.slides {
  width: 100%;
  text-align: center;
}

.slides img {
  width: 400px;
  overflow: hidden;
}

.slides-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
  overflow: hidden;
  box-sizing: border-box;
}

.slideshow-container {
  /*   text-align: center; */
  float: left;
  box-sizing: border-box;
}

.thumb-Container {
  position: relative;
  text-align: left;
  max-width: 400px;
}

.thumbs {
  width: 100px;
  display: inline-block;
}

.info {
  float: right;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

.product-description {
  margin-bottom: 20px;
}

.product-description h1 {
  font-weight: 300;
  font-size: 50px;
  letter-spacing: -2px;
}

.text {
  width: 200px;
}

.Modal_pic {
  width: 100%;
}
.Modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}

@media screen and (max-width: 1585px) {
  .slideshow-container {
    margin-left: 50%;
    transform: translatex(-50%);
  }
  .info {
    float: left;
    margin-left: 50%;
    transform: translatex(-50%);
  }

  .slides-container {
    height: 225px;
  }
}

@media screen and (min-width: 1585px) {
  .slides img {
    width: 550px;
  }
  .thumb-Container {
    max-width: 550px;
  }
  .slides-container {
    height: 309px;
  }
}

/* Leverandører */

.suppThumb {
  width: 300px;
  padding: 1em;
}

.supplierThumb {
  display: inline-block;
  margin: 50px !important;
  max-width: 300px;
}

.suppliers {
  text-align: center;
  margin-left: 50%;
  width: 60%;
  transform: translateX(-50%);
}

.caption {
}
