body {
  background-color: #fffdf5;
  font-family: 'Roboto', 'Arial', sans-serif;
  margin: 0;
}

/* UPPER SECTION
-------------------------------------------------*/
/*HEADER*/
.header {
  position: relative;
  left: 0;
  top: 0;
  overflow: hidden;
  width:100%;
  height:5.5em;
  -webkit-box-shadow:  0px 6px 15px rgba(0,0,0, 0.4);
  -moz-box-shadow:  0px 6px 15px rgba(0,0,0, 0.4);
  box-shadow: 0px 6px 15px rgba(0,0,0, 0.4);
  z-index: 2;

}

.header img {
  float: left;
  width: 300px;
}

/*NAVBAR*/
.navbar {
  height: 100%;
  bottom: 0;
  overflow: hidden;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li:nth-child(n + 3) {
  float: right;
  height: 5.5em; /*Same as navbar*/
  width: 7em;
}

.navbar a {
  float: left;
  display: block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 5.5em;
}

.navbar li a:hover {
  background-color: #87aa47;
  color: white;
}

.navbar .active {
  background-color: #87aa47;
  color: white !important;
}

.navbar .hamburgericon {
  /* Hamburger menu*/
  display: none;
}

.navbar a.navbarlogo {
  display: none;
}

@media screen and (max-width: 1050px) {
  .navbar a {
    display: none;
  }
  .navbar a.hamburgericon {
    float: right;
    display: block;
    width: 5em;
  }
  .navbar a.navbarlogo {
    text-align: center;
    display: block;
    width: auto;
    margin: auto;
  }
  .navbar a.navbarlogo:hover {
    background-color: inherit;
  }
  .navbar a.navbarlogo img {
    display: block;
  }

  .prev, .next {


  }
}

@media screen and (max-width: 1050px) {
  .header.responsive {
    top: 0;
    overflow: hidden;
    height: auto;
    position: relative;
    width: auto;
  }
  .logo {
    display: none;
  }

  .navbar.responsive a.navbarlogo {
    width: 100%;
    border-bottom: 1px solid black;
  }

  .navbar.responsive a.hamburgericon {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    height: 5.2em;
    background-color: #87aa47;
    color: white !important;
  }
  .navbar.responsive li:nth-child(n + 3) {
    width: 50%;
  }
  .navbar.responsive a {
    display: block;
  }
}
/* NAVBAR END*/

/*MIDDLE SECTION
------------------------------------------------------*/

.container {
  margin-top: 3%;
  margin-left: 20%; /*20% from the left*/
  width: 60%; /*Resulting in 20% on the right as well*/
  text-align: center;
  float: center;
}

section p {
  text-align: left;
  word-wrap: break-word;
}
/*BOTTOM SECTION
-------------------------------------------------------*/
footer {
  background-color: #87aa47;
  overflow: hidden;
  color: #e8e8ee;
  width: 100%;
  height: 10em;
  bottom: 0;
  left: 0;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px -6px 15px rgba(0, 0, 0, 0.3);
  margin-top: 3em;
}

.footerLeft {
  margin-left: 20%;
  overflow: hidden;
}

.footerLeft ul {
  display: inline-block;
}

.footerCenter {
  margin-left: 40%;
}


/* SLIDESHOW */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
overflow: hidden;
  /*max-width: 1000px;*/
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;

}

/* Next & previous buttons */
.prev, .next {
  z-index: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  background-color: rgba(135, 170, 71, 1);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(187, 187, 187, 0.8);
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

 .current, .dot:hover {
  background-color: #87aa47;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img {
  height:500px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
.slideshow_pic {
  width: 100%;
  object-fit: cover;
}
